body {
	background-color: #f2f2f2;
}

.wrapper {

	background-color: #f2f2f2;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}

#article-list {
	display: block;
	float: left;
}

.page-header .tumblr{
	color: #444444;
	font-size: 3em;
	font-family: 'Patua One', cursive;
}

.page-header .divider{
	color: #444444;
	font-size: 3em;
	font-family: Helvetica, sans-serif;
}

.page-header .times {
	color: #444444;
	font-size: 3em;
	font-family: 'Cardo', serif;
}

#article-list li {
	float: left;
	margin: 20px;
}

article {
	margin-bottom: 30px;
	float: left;
}

.article-image-container {
	float: left;
	width: 100%;
}

article {
	margin-bottom: 30px;
	float: left;
}

article h3{
	color: #376092;
	font-size: 1.5em;
}

article h4 { 
	max-width: 500px;
}

article a {
	
	font-size: 12px;

}

/******************
    Link Styling
******************/

a:link{
    text-decoration: none;
    color: #E46C0A;
    border-bottom: 1px solid #E46C0A;
}
a:visited{
    text-decoration: none;
    color: rgb(106,98,106);
    border-bottom: 1px dashed rgb(162,173,123);
}
a:hover {
    text-decoration: none;
    color: rgb(162,173,123);
    border-bottom: 1px solid rgb(162,173,123);
}
a:active {  
    text-decoration: none;
    color: rgb(162,173,123);
}
=======
.article-image {
	margin: 12px;
}

