{% load endless %}

{% lazy_paginate 10 articles %}
<ul id="article-list">

{% for article in articles %}
<li>
    <article>
        <h3> <a target="_blank" href="{{ article.url }}">{{ article.title }}</a></h3>
        <p><strong>Topics:</strong>{% for topic in article.topics.all %} <span class="label label-info">{{ topic.name }}</span>{% endfor %}</p>
        <div class="article-image-container">
            {% for topic in article.topics.all %}
            <div class="article-image">
                <a href="{{ topic.image.image_url }}">
                    <img src="{{ topic.image.image_url }}" height="" width="350" alt="{{ topic.name }}" />
                </a>
            </div>
            {% endfor %}
        </div>
    </article>
</li>
{% endfor %}

</ul>
{% show_more "View more articles" %}