<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
    {%  block css %}{% endblock %}
</head>

<body>
    <div class="container">
    {% block header %}
        <header class="page-header">
            <h1>The Tumblr Times</h1>
        </header> 
    {% endblock %}
    {% block content %}
        <ul class="articleList">
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
            <li><article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</article></li>
        </ul>
    {% endblock %}
    {% block footer %}
        <h6> &copy; SansSJStudioS</h6>
    {% endblock %}
</div>
</body>
</html>