<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
    {%  block css %}{% endblock %}
</head>

<body>
<div class="wrapper">
    <a href="baseTest.html">Base Test</a>
    {% block header %}
        <header class="page-header">
            <h1>The Tumblr Times</h1>
        </header> 
    {% endblock %}
    {% block content %}
        <ul class="articleList">
            {% for articles in article_list %}
                <li>
                    <article>
                        <h3> {{ articles.title }}</h3>
                        <!-- NEED TO SEE HOW ID IS LOADED SO loadImages.JS WILL WORK -->
                        <section class="masonryImage_hide" onclick="loadImages.js" id=""{{ articles.title }}>{{articles.images}}</section>
                    </article>
                </li>
            {% endfor %}   
        </ul>
    {% endblock %}
    {% block footer %}
        <h6> &copy; SansSJStudioS</h6>
    {% endblock %}
</div>
</body>
</html>