<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" /> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
<body>
    
<div id="wrapper">
    <header class="page-header">
        <h1>The Tumblr Times</h1>
    </header> 
    <ul class="articleList">
            <li>
                <article>
                    <h3> Article 1 </h3>
                    <section class="masonryImages_hide"> 
                        <div id="container" class="photos clearfix isotope"> 
                            <div class="corner-stamp">Barack visits South Korea.</div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                        </div> <!-- end container -->
                    </section>
                </article>
            </li>
                <li>
                <article>
                    <h3>Article 2 </h3>
                    <section class="masonryImages_hide">
                        <div id="container" class="photos clearfix isotope"> 
                            <div class="corner-stamp">Barack visits South Korea.</div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                        </div> <!-- end container -->
                    </section>
                </article>
            </li>
                <li>
                <article>
                    <h3> Article 3</h3>
                    <section class="masonryImages_hide">
                        <div id="container" class="photos clearfix isotope"> 
                            <div class="corner-stamp">Barack visits South Korea.</div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                        </div> <!-- end container -->
                    </section>
                </article>
            </li>
                <li>
                <article>
                    <h3>Article 4 </h3>
                    <section class="masonryImages_hide">
                        <div id="container" class="photos clearfix isotope"> 
                            <div class="corner-stamp">Barack visits South Korea.</div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                        </div> <!-- end container -->
                    </section>
                </article>
            </li>
                <li>
                <article>
                    <h3>Article 5 </h3>
                    <section class="masonryImages_hide">
                        <div id="container" class="photos clearfix isotope"> 
                            <div class="corner-stamp">Barack visits South Korea.</div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                            <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lx4xt3BqZx1qe6h5e.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m17emorxdO1qcglluo1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_lzswzlVmXS1r05ih6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                             <div class="photo isotope-item">
                                    <img src="{{STATIC_URL}}img/tumblr_m1feapmaIx1rssmz6o1_500.jpg" alt="Korea"class="imgHover">
                            </div>
                        </div> <!-- end container -->
                    </section>
                </article>
            </li>
    </ul>
    <h6> &copy; SansSJStudioS</h6>
</div>
</body>
     <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
     <script type="text/javascript" src="{{STATIC_URL}}js/loadImages.js"></script>
     <script type="text/javascript" src="{{STATIC_URL}}js/jquery.masonry.min.js"></script>
</html>